<head>
  <link rel="stylesheet" href="content/content.css">
  <body>
      <div class="container">
        <div class="row" style="align-content: inherit;"> 
          <div class="filter">
            <md-input-container>
              <label>Category</label>
              <md-select ng-model="vm.selectedCategory">
                <md-option ng-repeat="category in vm.categories" ng-value="category.name" >
                  {{category.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <label>Country</label>
              <md-select ng-model="vm.selectedCountry">
                <md-option ng-repeat="country in vm.countries" ng-value="country.code">
                  {{country.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <button class="btn" type="submit" ng-click = "vm.myFilter()" >Apply</button>
            <form style="margin: 20px 0 ;" ng-submit ="vm.submit()">
              <input  size="40" type="text" placeholder="Search.." name="search" ng-model="vm.mysearch">
              <input class="btn" style="vertical-align: initial;" id="submit" type="submit" value="Search" >
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 card my-2 contentCard" 
              ng-repeat="heading in vm.newsPaper">
            <div style="padding: 12px;">
                <a class="heading" ng-click="vm.myContent(heading,vm.newsPaper)">{{heading.title}}</a> 
                <hr style="margin-top:0 ;">
                <p class="text-secondary">{{heading.description}}</p>
            </div>
            <img src="{{heading.urlToImage}}" alt="Img" style="width:200px;">
          </div>
          <div class="col-2"></div>
        </div>
          <div class="button">
            <a class="previous round" ng-click="vm.prev()">&#8249;</a>
            <a class="next round" ng-click="vm.next()">&#8250;</a>
          </div>
      </div>
      
  </body>
</head>