
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.container{
  position: relative;
  z-index: 10;
  top: 140px;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #3390b0;
  color: white;
}

.round {
  border-radius: 50%;
}
.button {
 width: 55%;
 float:right;
 margin: 10px 0 152px 0;
}
form{
  float: right;

}
.heading {
  width: 100%; 
  font-size: 20px;
  color: black;
  padding:8px 4px;
}
.contentCard{
  display: flex;
  align-items: center; 
  flex-direction: row; 
  justify-content: space-between;
  padding: 12px;
  box-shadow: 4px 2px 7px grey;
}
.row{
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.btn{
  width: fit-content;
  border-radius: 20px;
  margin: auto;
  position: relative;
  background-color: #3390b0;
  color: white;
}