---
title: ""
layout: splash
header:
  overlay_color: "#1672f3"
  overlay_filter: "1.0"
  caption: "Powered by [**Aviva Solutions**](http://avivasolutions.nl) <br/>"
excerpt: 'Microsoft MVP | .NET Tech Lead | .NET Architect | C# | Full Stack Dev | Fluent Assertions | Speaker | Trainer | TypeScript | JavaScript | React | Event Sourcing | DDD | TDD | Clean Code<br/>
 <br /> 

[<i class="fa-brands fa-bluesky"/> Bluesky](https://bsky.app/profile/dennisdoomen.com){: .btn .btn--bluesky} 
[<i class="fab fa-twitter"/> Twitter](https://twitter.com/ddoomen){: .btn .btn--twitter} 
[<i class="fab fa-mastodon"/> Mastodon](https://mastodon.social/@ddoomen){: .btn .btn--mastodon} 
[<i class="fab fa-linkedin"/> LinkedIN](https://www.linkedin.com/in/dennisdoomen/){: .btn .btn--linkedin} 
[<img src="/assets/images/sessionize-avatar.svg" style="vertical-align: baseline; max-height: 11px"/> Sessionize](https://sessionize.com/dennis-doomen/){: .btn .btn--sessionize} 
[<img src="/assets/images/aviva.svg" style="vertical-align: baseline; max-height: 11px" /> Aviva Solutions](https://avivasolutions.nl/){: .btn .btn--aviva} 
[<img src="/assets/images/fluentassertions.png" style="vertical-align: baseline; max-height: 13px" /> Fluent Assertions](https://www.fluentassertions.com/){: .btn .btn--fluentassertions} 
[<i class="fab fa-github"></i> Github Sponsors](https://github.com/sponsors/dennisdoomen){: .btn .btn--github}
[<i class="fab fa-paypal"></i> Tip Me](https://paypal.me/fluentassertions){: .btn .btn--paypal}
[<i class="fa fa-coffee"></i> Buy me a Coffee](https://ko-fi.com/dennisdoomen){: .btn .btn--kofi}
[<i class="fab fa-patreon"></i> Sponsor Me](https://www.patreon.com/bePatron?u=9250052&redirect_uri=http%3A%2F%2Ffluentassertions.com%2F&utm_medium=widget){: .btn .btn--patreon}

'
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html type=grid %}
{% endfor %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D4PR9CRN83"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D4PR9CRN83');
</script>

{% include paginator.html %}
